<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/765d0c47-93f2-4f37-bb1c-5f2b77b78830/resourceGroups/lifelog/providers/Microsoft.Web/sites/customuserstore</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://customuserstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>customuserstore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>customuserstore</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$customuserstore</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>